<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table class="table table-stripped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Job</th>
      <th>Level</th>
      <th>Position</th>
      <th>IGN</th>
      <th>WoE?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <% if member.attendance == "Yes" %>
        <tr class="success">
      <% else %>
        <tr class="danger">
      <% end %>
        <td><%= member.name %></td>
        <td><%= member.job %></td>
        <td><%= member.level %></td>
        <td><%= member.position %></td>
        <td><%= member.ign %></td>
        <td><%= member.attendance %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_member_path(member) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
